.generator {
	padding: 8px 12px;
	border-radius: 8px;
	margin: 8px;
	background: #eee;
	position: relative;
}

.group {
	padding: 4px;
	position: relative;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 8px;
}

.big {
	font-size: 1.2em;
}

.small {
	font-size: .7em;
}

.square {
	width: .7em;
	height: .7em;
	margin: .5em;
	display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 10px; /* demo only */
}

.custom-dropdown select {
	background-color: #1abc9c;
	color: #fff;
	font-size: inherit;
	padding: .5em;
	padding-right: 2.5em;
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
	content: "\25BC";
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
	color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
	color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
	background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
	color: rgba(0, 0, 0, .4);
}

.group .group {
	background: #eee;
	margin-top: 10px;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.group-title {
	margin: 8px;
	font-weight: 400;
	text-align: center;
}

input, select, textarea, button {
	font-size: 14px;
}

button {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px 8px;
	cursor: pointer;
}

button.btn-danger {
	background-color: #c44;
	color: #fff;
	border-color: #c44;
	width: 3em;
	font-size: 1em;
	font-weight: bold;
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

button.btn-danger.option {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

button.btn-info {
	background-color: #3a87ad;
	color: #fff;
	border-color: #3a87ad;
}

button.btn-warn {
	background-color: #fac661;
	color: #fff;
	border-color: #d6a442;
}

.input-group {
	margin: 8px 0;
	display: flex;
	justify-content: space-between;
}

.input-group input,
.input-group textarea,
.input-group select {
	border: 1px solid #ccc;
	padding: 4px 8px;
	border-radius: 4px;
}

.input-group textarea {
	width: 90%;
	min-width: 90%;
	max-width: 90%;
}

span.input-info {
	border-radius: 4px;
	padding: 4px 8px;
	background-color: #3a87ad;
	color: #fff;
	border-color: #3a87ad;
	width: 40%;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0;
	padding: 12px;
	text-align: center;
}

.isa_error {
	color: #D8000C;
	background-color: #FFD2D2;
	border: 1px solid #fcc2c3;
	display: none;
}

/* Hide the input */
input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.check-trail {
	display: flex;
	align-items: center;
	width: 3em;
	/*height: 1.66em;*/
	height: 100%;
	background: #2c3e50;
	/*border-radius: 2.5em;*/
	border-radius: 4px 0px 0px 4px;
	transition: all 0.5s ease;
	cursor: pointer;
}

.check-handler {
	display: flex;
	margin-left: 0.5em;
	justify-content: center;
	align-items: center;
	width: 1.33em;
	height: 1.33em;
	background: #34495e;
	border-radius: 50%;
	transition: all 0.5s ease;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.check-handler:before {
	content: "\00D7";
	color: white;
	font-size: 1em;
	font-weight: bold;
}

input[type="checkbox"]:checked + .check-trail {
	background: #16a085;
}

input[type="checkbox"]:checked + .check-trail .check-handler {
	margin-left: 50%;
	background: #1abc9c;
}

input[type="checkbox"]:checked + .check-trail .check-handler::before {
	content: "\2714";
}

div#referat-select {
	width: 100%;
	display: flex;
	justify-content: center;
}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
	text-align: left;
}

.posts li {
	background-color: #fff;
	border: 1.5px solid #d8d8d8;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	word-wrap: break-word;
	min-height: 42px;
	box-shadow: 8px 8px 5px #888888;
}

div#controls {
	display: flex;
	justify-content: space-between;
}

div#controls div#download {
	width: 20%;
	display: flex;
	justify-content: space-around;
}

div#controls div#download i {
	padding: 2px 8px 0 0;
}
