body {
	background: rgba(0, 0, 0, 0.9);
	color: white;
}

#import-box {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#import-box form div#drop {
	height: 200px;
	border: 4px dashed #fff;
}

#import-box form input {
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}

#import-box form p {
	position: relative;
	top: -60%;
}

button {
	border: none;
	width: 200px;
	height: 35px;
	border-radius: 4px;
	transition: all .2s ease;
	outline: none;
}

.list {
	list-style: none;
	width: 600px;
	max-width: 90%;
}

button.success {
	color: #fff;
	background: #16a085;
	border-bottom: 4px solid #117A60;
}

button.success:hover {
	background: #149174;
	color: #0C5645;
}

button.error {
	color: #fff;
	background: #f47961;
	border-bottom: 4px solid #ab1b00;
}

button.error:hover {
	background: #c44e37;
	color: #8f1700;
}

button:active {
	border: 0;
}

ul.selected-files {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

ul.selected-files li {
	display: flex;
	justify-content: space-between;
	clear: both;
	font-size: 1.1rem;
	line-height: 1.375;
}

/* Width controls */

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.quarter-width {
	width: 25%;
}

/* Paddings */
.margin-top-small {
	margin-top: 1em;
}

.margin-bot-small {
	margin-bottom: 1em;
}

.margin-bot-xsmall {
	margin-bottom: 0.5em;
}

.margin-left-small {
	margin-left: 1em;
}

.margin-right-small {
	margin-right: 1em;
}

/* Position control */

.text-center {
	text-align: center;
}

.center {
	margin: 0 auto;
}


